@font-face {
    font-family: 'D-din';
    src: url('https://cdn.prod.website-files.com/60944919d85224450f0cbe23/60994609c05d51f3e6d04fad_D-DINExp-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}